/* App.css */
@import 'aos/dist/aos.css';
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Chokokutai&family=Gudea:ital@1&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,400&family=Bungee+Hairline&family=Chokokutai&family=Gudea:ital@1&family=Oswald:wght@500&family=Poppins:ital,wght@0,300;1,300&family=Rajdhani:wght@300&family=Satisfy&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,400&family=Bungee+Hairline&family=Chokokutai&family=Gudea:ital@1&family=Oswald:wght@500&family=Poppins:ital,wght@0,300;1,300&family=Rajdhani:wght@300&family=Satisfy&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: black;
}

.photo {
  display: flex;
  max-width: 350px;
  margin-left: 102px;
}

/* section */
.sectionclass {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  max-width: 90%;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Image column and text column */
  align-items: center;
  gap: 15px;
  /* Gap between columns */
}

.text {
  /* padding: 20px; */
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: large;
  /* margin-left: 0px; */
}

.text h1 {
  font-size: 35px;
}

.dev-button {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
  font-weight: bold;
}

.animated-text {
  font-weight: bold;
  animation: textAnimation 1.5s infinite;
}

@keyframes textAnimation {
  0%,
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.firstname {
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  letter-spacing: 7px;
}

.secondname {
  font-family: 'Archivo Black', sans-serif;
  line-height: 40px;
  font-size: 40px;
}

.animated-name {
  display: inline-block;
  overflow: hidden;
  /* font-size: 20px; */
}

.animated-text {
  animation: textAnimation 1.5s infinite;
}

@keyframes textAnimation {
  0%,
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

.triangle-list {
  list-style: none;
  padding-left: 10px;
}

.triangle-list li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
}

.triangle-list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 8px 5px 0;
  border-color: transparent green transparent transparent;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-icons a {
  color: green;
  font-size: 28px;
  text-decoration: none;
}

.social-icons a:hover {
  color: white;
}

/* AboutMe Css */
.AboutContainer {
  display: flex;
  color: white;
  /* justify-content: space-between; */
  /* max-width: 90%; */
}
.right h1 {
  color: green;
}
.right p{
  display: flex;
  letter-spacing: 3px;
}

.right p{

}
.aboutimg {
  width: 300px;
  height: 300px;
  margin-left: 50px;
  padding: 30px;
  margin-top: 50px;
}

.codeimg {
  width: 300px;
  height: 200px;
  margin-left: 50px;
  padding: 30px;
}

.btnresume {
  background-color: green;
  color: black;
  padding: 10px;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  /* font-weight: bold; */
  margin-top: 10px;
  border: none;
}

.btnresume:hover {
  background-color: white;
  color: black;
}

.techcontainer {
  /* display: flex;
  flex-wrap: wrap;
  */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  /* Adjust the number of columns as needed */
  gap: 15px;
  text-align: center;
  margin-left: 25px;
  width: 70%;
}

.tech {
  width: 10%;
  margin-bottom: 10px;
  /* font-weight: bolder; */
}

.tech-detail {
  border-radius: 6px;
  /* padding-right: 0px; */
  width: 200px;
  padding: 3px;
  background-color: green;
}

.tech-icon {
  background-color: transparent;
  vertical-align: middle;
  border-style: none;
}

.tech-label {
  color: black;
  background-color: transparent;
  font-size: 14px;
  padding-right: 15px;
  padding-left: 10px;
}

.textstack h1 {
  color: green;
  margin-left: 30px;
}

.textstack p {
  color: white;
  width: 400px;
  line-height: 25px;
  font-size: 15px;
  margin-left: 35px;
  margin-top: 10px;
  margin-bottom: 20px;
}


.active {
  background-color: green;
}

.App {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgb(15, 30, 15);
}

/* nav h1 {
  font-family: 'satisfy';
  color: white;
  margin-left: 50px;
  cursor: pointer;
} */

.title {
  font-size: 1.5rem;
  font-family: 'satisfy';
  margin: 1rem;
  margin-left: 62px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

nav ul {
  display: flex;
  margin-right: 86px;
}

nav ul li {
  list-style: none;
  font-weight: bold;
  /* font-family: 'Ubuntu'; */
  font-size: 20px;
  cursor: pointer;
}

/* nav ul li:hover {
  background-color: green;
  border-radius: 8px;
} */

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.3rem;
  margin: 0 2rem;
  border-radius: 0.5rem;
  font-family: "ubuntu";
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: -18rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}

@media(max-width:480px) {
  nav .menu {
    display: flex;
    right: -20rem;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    margin-right: 0;
  }

  nav ul.open {
    display: flex;
    margin-left: 446px;

  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }

  .title {
    margin-left: 10px;
    cursor: pointer;
  }

  .photo {
    max-width: 300px;
    margin-bottom: 111px;
    margin-left: 9px;
  }

  .content {
    max-width: 300px;
  }

  nav {
    background-color: transparent;
    width: 100%;
  }
}


